<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__info">
        <div class="footer__info-logo"><img src="/img/common/logo-seal.svg" alt="Levin+Riegner"></div>
        <div class="footer__info-legal">
          <div class="footer__info-legal-name">©<span id="year"></span> Levin &amp; Riegner LLC</div>
          <div class="footer__info-legal-copyright">All rights reserved</div>
        </div>
      </div>
      <div class="footer__nav">
        <div class="footer__menu">
          <dl>
            <dt><span>Follow Us</span></dt>
            <dd><a href="https://twitter.com/levinriegner" onclick="mixpanel.track('Twitter');">Twitter</a></dd>
            <dd><a href="https://www.linkedin.com/company/l-r?trk=ppro_cprof" onclick="mixpanel.track('LinkedIn');">LinkedIn</a></dd>
          </dl>
        </div>
        <div class="footer__menu">
          <dl>
            <dt><span>The Latest</span></dt>
            <dd><a href="https://levinriegner.news/" onclick="mixpanel.track('News');">News</a></dd>
            <dd><a href="https://lr1.typeform.com/to/N9Okvv" onclick="mixpanel.track('Careers');">Careers</a></dd>
            <dd><a href="https://lr1.typeform.com/to/Y8wFjZ" onclick="mixpanel.track('Contact');">Contact Us</a></dd>
          </dl>
        </div>
        <div class="footer__menu">
          <dl>
            <dt><span>Brooklyn</span></dt>
            <dd><a href="https://goo.gl/maps/iLBF3nnSsyR2" target="_blank" rel="noopener noreferrer">20 Jay St. #924 <br> Brooklyn, New York</a></dd>
          </dl>
        </div>
        <div class="footer__menu">
          <dl>
            <dt><span>Barcelona</span></dt>
            <dd><a href="https://goo.gl/maps/HZEtsXccxMr" target="_blank" rel="noopener noreferrer">Carrer de Muntaner, 239 <br> Barcelona, Spain</a></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</footer>
