<header class="header">
  <div class="container">
    <div class="header__body">
      <div class="header__logo"><a href="/" onclick="mixpanel.track('L+R logo');"><img src="/img/common/logo.svg" width="60" height="25" alt="L+R"></a></div>
      <div class="header__about">
      </div>
      <div class="header__menu">
        <button class="header__menu-burger" type="button"><i></i><i></i><i></i></button>
        <div class="header__menu-list">
          {{ range $.Site.Data.menu }}
            <div class="header__menu-item{{ if eq $.Page.Params.basename (lower .title) }} -active{{ end }}">
              <a
                href="{{ .link }}"
                onclick="window.mixpanel && mixpanel.track('{{ lower .title }}')"
                {{ if in .link "http" }}
                  target="_blank"
                  rel="noopener noreferrer"
                {{ end }}
              >
                {{ .title }}
              </a>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</header>
