{{- $scratch := newScratch -}}
{{- $media := .context.Resources -}}
{{- $original := index ($media.Match (printf "%s" .src)) 0 -}}

{{- if ne $original.MediaType.SubType "svg" -}}
  {{- $baseWidth := (div $original.Width .density) -}}

  {{- range $i, $val := (seq .density) -}}
    {{- $currentDensity := (sub $.density $i) -}}
    {{- $currentSize := (mul (int $currentDensity) (int $baseWidth)) -}}
    {{- $currentSrc := newScratch -}}

    {{- if eq $i 0 -}}
      {{- $currentSrc.Add "url" $original.Permalink -}}
    {{- else -}}
      {{- $resized := $original.Resize (printf "%sx Lanczos" (string $currentSize)) -}}
      {{- $currentSrc.Add "url" $resized.RelPermalink -}}
    {{- end -}}

    {{- $scratch.Add "srcset" (slice (printf "%s %sx" ($currentSrc.Get "url") (string $currentDensity))) -}}
  {{- end -}}
{{- end -}}

<img
  src="{{ $original.Permalink }}"
  {{ if ne $original.MediaType.SubType "svg" }}
    srcset="{{ delimit ($scratch.Get "srcset") ", " }}"
  {{ end }}
  {{ range $attrName, $attrValue := .attrs }}
    {{- if or (ne $attrName "srcset") (ne $attrName "src") -}}
      {{- $attrName -}}="{{- $attrValue -}}"
    {{- end -}}
  {{ end }}
>
