{{- $scratch := newScratch -}}
{{- $media := .context.Resources -}}
{{- $original := index ($media.Match (printf "%s" .src)) 0 -}}

{{- range $i, $val := (seq .density) -}}
  {{- $currentSize := math.Round (div (int $original.Width) (int $val)) -}}
  {{- $currentDensity := (sub $.density $i) -}}
  {{- $currentSrc := newScratch -}}

  {{- if eq $i 0 -}}
    {{- $currentSrc.Add "url" $.src -}}
  {{- else -}}
    {{- $resized := $original.Resize (printf "%sx Lanczos" (string $currentSize)) -}}
    {{- $currentSrc.Add "url" $resized.RelPermalink -}}
  {{- end -}}

  {{- $scratch.Add "srcset" (slice (printf "%s %sx" ($currentSrc.Get "url") (string $currentDensity))) -}}

{{- end -}}

<img
  srcset="{{ delimit ($scratch.Get "srcset") ", " }}"
  src="{{ .src }}"
  alt="{{ .alt }}"
>
