<div style="height: 0; width: 0; position: absolute; visibility: hidden">
	<!-- inject:svg -->
  <svg xmlns="http://www.w3.org/2000/svg"><symbol id="ico_cross" viewBox="0 0 12 12"><g fill-rule="nonzero"><path d="M.646 1.354l.708-.708 10 10-.708.708z"/><path d="M1.354 11.354l-.708-.708 10-10 .708.708z"/></g></symbol><symbol id="ico_search" viewBox="0 0 12 12"><g fill-rule="nonzero"><path d="M5.5 10.5a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm0-1a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/><path d="M11.146 11.854l.708-.708-3-3-.708.708z"/></g></symbol></svg>
  <!-- endinject -->
</div>
