$ns = ".afterword"

{$ns}
  &__heading,
  &__subheading
    font-size 34px
    line-height 40px
  &__heading
    color #a4a4a4 
    font-weight 300 
  &__subheading
    color #000
    font-weight 500 
    margin-bottom 3px
  &__links
    font-size 17px
    line-height 26px
    a
      display inline-block
      vertical-align middle
      margin-right 20px
      color #ff00d5 
