{{ define "main" }}
  {{ $ns := "work-gc" }}
  <div class="work-single {{$ns}}">
    <div class="work-single__header">
      <div class="container">
        <div class="work-single__header-main">
          {{ partial "subhead" (dict "title" "Case File" "value" "Declassified") }}
          <h1>A&nbsp;festival’s mobile app evolved into the future of&nbsp;social activism and awareness</h1>
        </div>
        <div class="work-single__header-aside">
          <div class="work-single__header-aside-block">
            {{ partial "subhead" (dict "title" "Client") }}
            {{ partial "img" (dict "context" . "src" "images/logo.png" "density" 3 "attrs" (dict "alt" "The Global Poverty Project")) }}
          </div>
          <div class="work-single__header-aside-block">
            {{ partial "subhead" (dict "title" "Services") }}
            <p>Digital Product Development</p>
            <p>Applied Innovation</p>
          </div>
        </div>
        <div class="work-single__header-aside">
          <div class="work-single__header-aside-block">
            {{ partial "subhead" (dict "title" "Highlights") }}
            <p>Downloaded in over 150 countries</p>
            <p>Award Winner for Social Mobile App 2017 by Communicator Awards</p>
            <p>Special Features: NBC, Billboard, NYT, <a href="https://aplus.com/a/l-and-r-designs-app-for-global-citizen-festival?utm_source=internal&amp;utm_medium=search" target="_blank" rel="noopener noreferrer" data-with-arrow>A-Plus</a>, <a href="https://technical.ly/brooklyn/2015/04/24/usher-earth-day-app-lr-alex-levin/" target="_blank" rel="noopener noreferrer" data-with-arrow>Technical.ly Brooklyn</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="{{$ns}}__image -intro">
      {{ partial "cover" (dict "context" . "src" "images/intro.jpg" "density" 2) }}
    </div>
    <div class="{{$ns}}__text -assignment">
      <div class="container">
        <div class="work-single__text">
          <div class="work-single__text-column">
            <h2>Assignment</h2>
          </div>
          <div class="work-single__text-column">
            <p>We&nbsp;are honored to&nbsp;work with the team at&nbsp;Global Citizen to&nbsp;create a&nbsp;mobile application platform that reimagines global social activism in&nbsp;order to&nbsp;tackle society&rsquo;s biggest challenges. </p>
            <p>Used actively by&nbsp;hundreds of&nbsp;thousands of&nbsp;people around the world, the app facilitates the education of&nbsp;pressing issues, the support of&nbsp;organizations working on&nbsp;the ground, and for systemic, lasting change.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="{{$ns}}__quote -assignment">
      <div class="container">
        {{ partial "cover" (dict "context" . "src" "images/assignment.jpg" "density" 2) }}
        <div class="work-single__quote">
          <div class="work-single__quote-text">
            “We&rsquo;ve worked with L+R to&nbsp;evolve the App over the years into a&nbsp;powerful platform for change.”
          </div>
          <div class="work-single__quote-cite">
            <b>Guy Kirkpatrick</b><br>
            Product Manager at<br>
            The Global Poverty Project
          </div>
        </div>
      </div>
    </div>
    <div class="{{$ns}}__text -background">
      <div class="container">
        <div class="work-single__text">
          <div class="work-single__text-column">
            <h2>Background</h2>
          </div>
          <div class="work-single__text-column">
            <p>Founded in&nbsp;2008, The Global Poverty Project&rsquo;s vision is&nbsp;a&nbsp;world without extreme poverty. The movement mobilizes people to&nbsp;take action surrounding the policies and practices that keep people in&nbsp;poverty.</p>
            <p>One of&nbsp;the organization&rsquo;s ongoing and powerful initiatives is&nbsp;Global Citizen; an&nbsp;active online community platform and the host of&nbsp;large-scale festivals around the world. Understanding the empowering characteristics of&nbsp;a&nbsp;personal mobile device, the Global Citizen team looked to&nbsp;collaborate with L+R.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="{{$ns}}__background">
      <div class="container">
        <div class="{{$ns}}__background-top">
          <div class="{{$ns}}__background-image -top-left">
            {{ partial "img" (dict "context" . "src" "images/background-top-left.jpg" "density" 2) }}
          </div>
          <div class="{{$ns}}__background-image -top-right">
            {{ partial "img" (dict "context" . "src" "images/background-top-right.jpg" "density" 2) }}
          </div>
        </div>
        <div class="{{$ns}}__background-bottom">
          <div class="{{$ns}}__background-image -bottom-left">
            {{ partial "img" (dict "context" . "src" "images/background-bottom-left.svg" "attrs" (dict "alt" "Global Citizen")) }}
          </div>
          <div class="{{$ns}}__background-image -bottom-center">
            {{ partial "img" (dict "context" . "src" "images/background-bottom-center.jpg" "density" 2) }}
          </div>
          <div class="{{$ns}}__background-image -bottom-right">
            {{ partial "img" (dict "context" . "src" "images/background-bottom-right.jpg" "density" 2) }}
          </div>
        </div>
      </div>
    </div>
    <div class="{{$ns}}__text -challenge">
      <div class="container">
        <div class="work-single__text">
          <div class="work-single__text-column">
            <h2>Challenge</h2>
          </div>
          <div class="work-single__text-column">
            <h5>How can technology evolve social activism?</h5>
            <p>Design a&nbsp;mobile experience that empowers a&nbsp;vast, multilingual, community of&nbsp;social activists. Share knowledge, actions, and activate attendees during multiple large-scale events throughout the year, all around the world.</p>
            <p>The festivals are only a&nbsp;small part of&nbsp;the movement, our teams began to&nbsp;investigate the impact of&nbsp;the community as&nbsp;a&nbsp;whole and how it&nbsp;could be&nbsp;empowered.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="{{$ns}}__text -breakthrough">
      <div class="container">
        <div class="work-single__text">
          <div class="work-single__text-column">
            <h2>Breakthrough</h2>
          </div>
          <div class="work-single__text-column">
            <h5>Digital Activism. The future of&nbsp;public assembly.</h5>
            <p>Build the application as&nbsp;a&nbsp;centralized &laquo;Action&raquo; platform that can be&nbsp;used throughout the year and activated during special events like GC&nbsp;Festivals. </p>
            <p>By&nbsp;leveraging Global Citizen&rsquo;s partnership with Live Nation, the application can house all events that are accessible to&nbsp;users. At&nbsp;the same time, users can take actions on&nbsp;the issues that they care about most to&nbsp;spread awareness, educate themselves and their community, get access to&nbsp;events they love, and catalyze change.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="{{$ns}}__image -breakthrough">
      <div class="container">
        {{ partial "img" (dict "context" . "src" "images/breakthrough.jpg" "density" 2) }}
      </div>
    </div>
    <div class="{{$ns}}__takeaction">
      <div class="container">
        <div class="{{$ns}}__takeaction-text">
          <h2>Work</h2>
          <h4>
            {{ partial "img" (dict "context" . "src" "images/takeaction-icon.svg") }}
            Take Action
          </h4>
          <p>Hundreds of&nbsp;social Actions, updated in&nbsp;real-time by&nbsp;The Global Citizen policy team. Each Action type uses a&nbsp;unique function to&nbsp;spread awareness and leverage the mobile platform.</p>
          <dl>
            <dt>Action Types:</dt>
            <dd>
              <figure>
                {{ partial "img" (dict "context" . "src" "images/takeaction-action-twitter.svg") }}
              </figure>
              <p>Tweet</p>
            </dd>
            <dd>
              <figure>
                {{ partial "img" (dict "context" . "src" "images/takeaction-action-sign.svg") }}
              </figure>
              <p>Sign a Petition</p>
            </dd>
            <dd>
              <figure>
                {{ partial "img" (dict "context" . "src" "images/takeaction-action-call.svg") }}
              </figure>
              <p>Call</p>
            </dd>
            <dd>
              <figure>
                {{ partial "img" (dict "context" . "src" "images/takeaction-action-email.svg") }}
              </figure>
              <p>Email</p>
            </dd>
            <dd>
              <figure>
                {{ partial "img" (dict "context" . "src" "images/takeaction-action-photo.svg") }}
              </figure>
              <p>Post a Photo</p>
            </dd>
            <dd>
              <figure>
                {{ partial "img" (dict "context" . "src" "images/takeaction-action-checkin.svg") }}
              </figure>
              <p>Check-in</p>
            </dd>
          </dl>
        </div>
        <div class="{{$ns}}__takeaction-image">
          {{ partial "img" (dict "context" . "src" "images/takeaction-image.jpg" "density" 2) }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
