{{ define "main" }}

  <div class="work">
    <div class="work__cases">
      <div class="container">
        <div class="subhead">
          <div class="subhead__title">Case File</div>
          <div class="subhead__value">Declassified</div>
        </div>
        <div class="work__cases-item -schumacher">
          <div class="work__cases-item-content">
            <div class="work__cases-item-preview"></div>
            <div class="work__cases-item-overlay">
              <div class="work__cases-item-overlay-gradient"><i></i><i></i><i></i></div>
            </div>
            <div class="work__cases-item-fader"></div>
            <div class="work__cases-item-about">
              <div class="work__cases-item-about-logo">
                <img src="/img/work/schumacher/preview-logo.png" srcset="/img/work/schumacher/preview-logo.png 1x, /img/work/schumacher/preview-logo@2x.png 2x">
              </div>
              <p>A two hundred year old textile manufacturer digitizes their customer experience</p>
            </div>
            <a href="/work/schumacher.html"></a>
          </div>
        </div>
        <div class="work__cases-item -gc">
          <div class="work__cases-item-content">
            <div class="work__cases-item-preview"></div>
            <div class="work__cases-item-overlay">
              <div class="work__cases-item-overlay-gradient"><i></i><i></i><i></i></div>
            </div>
            <div class="work__cases-item-fader"></div>
            <div class="work__cases-item-about">
              <div class="work__cases-item-about-logo">
                <img src="/img/work/gc/preview-logo.png" srcset="/img/work/gc/preview-logo.png 1x, /img/work/gc/preview-logo@2x.png 2x">
              </div>
              <p>A festival’s mobile app evolved into the future of social activism and awareness</p>
            </div>
            <a href="/work/global-citizen.html"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="work__featured">
      <div class="container">
        <div class="subhead">
          <div class="subhead__title">Featured Projects</div>
          <div class="subhead__value">View only</div>
        </div>
        <div class="work__featured-list">
<!--           {{ range where .Pages.ByPublishDate.Reverse "File.Ext" "md"  }}
            <div class="work__featured-item">
              <div class="work__featured-item-preview">
                {{ .Content }}
              </div>
              <div class="work__featured-item-title">{{ .Title }}</div>
            </div>
          {{ end }} -->
          <div class="work__featured-item">
            <div class="work__featured-item-preview"><img class="-active" src="/img/work/featured/lv/1.png" alt="Louis Vuitton"><img src="/img/work/featured/lv/2.png" alt="Louis Vuitton"><img src="/img/work/featured/lv/3.png" alt="Louis Vuitton"><img src="/img/work/featured/lv/4.png" alt="Louis Vuitton"><img src="/img/work/featured/lv/5.png" alt="Louis Vuitton"><img src="/img/work/featured/lv/6.png" alt="Louis Vuitton"><img src="/img/work/featured/lv/7.png" alt="Louis Vuitton"><img src="/img/work/featured/lv/8.png" alt="Louis Vuitton"><img src="/img/work/featured/lv/9.png" alt="Louis Vuitton"><img src="/img/work/featured/lv/10.png" alt="Louis Vuitton"><img src="/img/work/featured/lv/11.png" alt="Louis Vuitton"><img src="/img/work/featured/lv/12.png" alt="Louis Vuitton">
            </div>
            <div class="work__featured-item-title">Louis Vuitton</div>
          </div>
          <div class="work__featured-item">
            <div class="work__featured-item-preview"><img class="-active" src="/img/work/featured/aws/1.png" alt="Amazon Web Services"><img src="/img/work/featured/aws/2.png" alt="Amazon Web Services"><img src="/img/work/featured/aws/3.png" alt="Amazon Web Services"><img src="/img/work/featured/aws/4.png" alt="Amazon Web Services"><img src="/img/work/featured/aws/5.png" alt="Amazon Web Services"><img src="/img/work/featured/aws/6.png" alt="Amazon Web Services"><img src="/img/work/featured/aws/7.png" alt="Amazon Web Services"><img src="/img/work/featured/aws/8.png" alt="Amazon Web Services"><img src="/img/work/featured/aws/9.png" alt="Amazon Web Services">
            </div>
            <div class="work__featured-item-title">Amazon Web Services</div>
          </div>
          <div class="work__featured-item">
            <div class="work__featured-item-preview"><img class="-active" src="/img/work/featured/spireworks/1.png" alt="Spireworks"><img src="/img/work/featured/spireworks/2.png" alt="Spireworks"><img src="/img/work/featured/spireworks/3.png" alt="Spireworks"><img src="/img/work/featured/spireworks/4.png" alt="Spireworks"><img src="/img/work/featured/spireworks/5.png" alt="Spireworks"><img src="/img/work/featured/spireworks/6.png" alt="Spireworks"><img src="/img/work/featured/spireworks/7.png" alt="Spireworks">
            </div>
            <div class="work__featured-item-title">Spireworks</div>
          </div>
          <div class="work__featured-item">
            <div class="work__featured-item-preview"><img class="-active" src="/img/work/featured/factory-os/1.png" alt="Factory_OS"><img src="/img/work/featured/factory-os/2.png" alt="Factory_OS"><img src="/img/work/featured/factory-os/3.png" alt="Factory_OS"><img src="/img/work/featured/factory-os/4.png" alt="Factory_OS"><img src="/img/work/featured/factory-os/5.png" alt="Factory_OS"><img src="/img/work/featured/factory-os/6.png" alt="Factory_OS"><img src="/img/work/featured/factory-os/7.png" alt="Factory_OS"><img src="/img/work/featured/factory-os/8.png" alt="Factory_OS"><img src="/img/work/featured/factory-os/9.png" alt="Factory_OS">
            </div>
            <div class="work__featured-item-title">Factory_OS</div>
          </div>
          <div class="work__featured-item">
            <div class="work__featured-item-preview"><img class="-active" src="/img/work/featured/bond/1.png" alt="Bond Black"><img src="/img/work/featured/bond/2.png" alt="Bond Black"><img src="/img/work/featured/bond/3.png" alt="Bond Black"><img src="/img/work/featured/bond/4.png" alt="Bond Black"><img src="/img/work/featured/bond/5.png" alt="Bond Black"><img src="/img/work/featured/bond/6.png" alt="Bond Black"><img src="/img/work/featured/bond/7.png" alt="Bond Black">
            </div>
            <div class="work__featured-item-title">Bond Black</div>
          </div>
          <div class="work__featured-item">
            <div class="work__featured-item-preview"><img class="-active" src="/img/work/featured/spaceapps/1.png" alt="NASA — Space Apps NYC"><img src="/img/work/featured/spaceapps/2.png" alt="NASA — Space Apps NYC"><img src="/img/work/featured/spaceapps/3.png" alt="NASA — Space Apps NYC"><img src="/img/work/featured/spaceapps/4.png" alt="NASA — Space Apps NYC"><img src="/img/work/featured/spaceapps/5.png" alt="NASA — Space Apps NYC"><img src="/img/work/featured/spaceapps/6.png" alt="NASA — Space Apps NYC"><img src="/img/work/featured/spaceapps/7.png" alt="NASA — Space Apps NYC"><img src="/img/work/featured/spaceapps/8.png" alt="NASA — Space Apps NYC">
            </div>
            <div class="work__featured-item-title">NASA — Space Apps NYC</div>
          </div>
          <div class="work__featured-item">
            <div class="work__featured-item-preview"><img class="-active" src="/img/work/featured/jammcard/1.png" alt="Jammcard"><img src="/img/work/featured/jammcard/2.png" alt="Jammcard"><img src="/img/work/featured/jammcard/3.png" alt="Jammcard"><img src="/img/work/featured/jammcard/4.png" alt="Jammcard"><img src="/img/work/featured/jammcard/5.png" alt="Jammcard">
            </div>
            <div class="work__featured-item-title">Jammcard</div>
          </div>
          <div class="work__featured-item">
            <div class="work__featured-item-preview"><img class="-active" src="/img/work/featured/first-alert/1.png" alt="First Alert — Onelink"><img src="/img/work/featured/first-alert/2.png" alt="First Alert — Onelink"><img src="/img/work/featured/first-alert/3.png" alt="First Alert — Onelink"><img src="/img/work/featured/first-alert/4.png" alt="First Alert — Onelink"><img src="/img/work/featured/first-alert/5.png" alt="First Alert — Onelink"><img src="/img/work/featured/first-alert/6.png" alt="First Alert — Onelink"><img src="/img/work/featured/first-alert/7.png" alt="First Alert — Onelink">
            </div>
            <div class="work__featured-item-title">First Alert — Onelink</div>
          </div>
        </div>
      </div>
    </div>
    <div class="work__clients">
      <div class="container">
        <div class="subhead">
          <div class="subhead__title">Selected Clients</div>
        </div>
        <div class="work__clients-list">
          <div class="work__clients-item"><img class="-active" src="/img/work/clients/schumacher.png"><img src="/img/work/clients/buzzfeed.png">
          </div>
          <div class="work__clients-item"><img class="-active" src="/img/work/clients/bond.png"><img src="/img/work/clients/mind-tribe.png">
          </div>
          <div class="work__clients-item"><img class="-active" src="/img/work/clients/moma.png"><img src="/img/work/clients/unilever.png">
          </div>
          <div class="work__clients-item"><img class="-active" src="/img/work/clients/lv.png"><img src="/img/work/clients/si.png">
          </div>
          <div class="work__clients-item"><img class="-active" src="/img/work/clients/amazon.png"><img src="/img/work/clients/ad-council.png">
          </div>
          <div class="work__clients-item"><img class="-active" src="/img/work/clients/t-mobile.png"><img src="/img/work/clients/nestle.png">
          </div>
          <div class="work__clients-item"><img class="-active" src="/img/work/clients/jammcard.svg"><img src="/img/work/clients/irobot.png">
          </div>
          <div class="work__clients-item"><img class="-active" src="/img/work/clients/google.png"><img src="/img/work/clients/factory-os.png">
          </div>
          <div class="work__clients-item"><img class="-active" src="/img/work/clients/ge.svg"><img src="/img/work/clients/foot-locker.png">
          </div>
          <div class="work__clients-item"><img class="-active" src="/img/work/clients/gc.svg"><img src="/img/work/clients/affiner.png">
          </div>
          <div class="work__clients-item"><img class="-active" src="/img/work/clients/vice.svg"><img src="/img/work/clients/pepsi.png">
          </div>
          <div class="work__clients-item"><img class="-active" src="/img/work/clients/newell.png"><img src="/img/work/clients/slimfast.png">
          </div>
        </div>
      </div>
    </div>
    <div class="work__brief -animated">
      <div class="container">
        <div class="work__brief-container">
          <div class="work__brief-container-spine"></div>
          <div class="work__brief-title">Design <span>Brief</span></div>
          <div class="work__brief-info">
            <div class="work__brief-about">Sign up to receive insights on design, technology, and business. Our team pulls from our experience projects, working with enterprises and startups from around the world. Our expertise is then distilled in a classified triannual email.</div>
            <form class="work__brief-form" action="/api/subscribe.php" method="POST">
              <div class="work__brief-form-input">
                <input type="text" name="email" placeholder="Enter your email">
                <div class="work__brief-form-input-border">
                  <div class="work__brief-form-input-border-gradient"><i></i><i></i><i></i></div>
                  <div class="subhead">
                    <div class="subhead__title">Confirmed</div>
                  </div>
                </div>
              </div>
              <div class="work__brief-form-control">
                <button class="work__brief-form-button" type="submit" disabled><span class="hidden-a-m">→</span><span class="hidden-b-m">Subscribe</span></button>
              </div>
              <div class="work__brief-form-error"><img src="/img/common/error.svg" width="23" height="23" alt="×">
                <div class="work__brief-form-error-message"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="work__contact">
      <div class="container">
        <div class="work__contact-text">
          <p>Let&nbsp;us know about your project. <br>Our team will craft an&nbsp;estimate &amp;&nbsp;proposal.</p>
          <p><a href="https://lr1.typeform.com/to/Y8wFjZ">Contact us</a></p>
        </div>
      </div>
    </div>
  </div>
{{ end }}
