{{ define "main" }}
  <div class="work-single work-schumacher">
    <div class="work-single__header">
      <div class="container">
        <div class="work-single__header-main">
          {{ partial "subhead" (dict "title" "Case File" "value" "Declassified") }}
          <h1>A two hundred year old textile manufacturer digitizes their customer experience</h1>
        </div>
        <div class="work-single__header-aside">
          <div class="work-single__header-aside-block">
            {{ partial "subhead" (dict "title" "Client") }}
            {{ partial "img" (dict "context" . "src" "images/logo.png" "density" 3 "alt" "Schumacher") }}
          </div>
          <div class="work-single__header-aside-block">
            {{ partial "subhead" (dict "title" "Services") }}
            <p>Digital Product Development</p>
            <p>Applied Innovation</p>
          </div>
        </div>
        <div class="work-single__header-aside">
          <div class="work-single__header-aside-block">
            {{ partial "subhead" (dict "title" "Highlights") }}
            <p>54+ 5-star reviews on&nbsp;the Apple App Store</p>
            <p>Gold Award Winner for Mobile App 2016 by W3</p>
            <p>
              <a href="" data-with-arrow>Special Feature on Luxury Daily</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="work-schumacher__image -intro">
      {{ partial "cover" (dict "context" . "src" "images/intro.jpg" "density" 2) }}
    </div>
    <div class="work-schumacher__text -assignment">
      <div class="container">
        <div class="work-single__text">
          <div class="work-single__text-column">
            <h2>Assignment</h2>
          </div>
          <div class="work-single__text-column">
            <p>We&nbsp;worked with the team at&nbsp;F.&nbsp;Schumacher &amp;&nbsp;Co.&nbsp;to&nbsp;create a&nbsp;mobile and tablet application that evolved the interior design industry&rsquo;s process.</p>
            <p>Recognized by&nbsp;Luxury Daily as&nbsp;a&nbsp;&laquo;trade-first mobile touchpoint&raquo;, the app increased efficiency of&nbsp;their sales team and unlocked a&nbsp;new revenue stream with their customers.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="work-schumacher__quote -assignment">
      <div class="container">
        {{ partial "cover" (dict "context" . "src" "images/assignment.jpg" "density" 2) }}
        <div class="work-single__quote">
          <div class="work-single__quote-text">
            “…an amazing app that not only looks beautiful, but also functions beautifully.”
          </div>
          <div class="work-single__quote-cite">
            <b>Aaron Buckland</b><br>
            Senior Product Manager<br>
            at F. Schumacher &amp; Co.
          </div>
        </div>
      </div>
    </div>
    <div class="work-schumacher__text -background">
      <div class="container">
        <div class="work-single__text">
          <div class="work-single__text-column">
            <h2>Background</h2>
          </div>
          <div class="work-single__text-column">
            <p>At&nbsp;129 years old, F.&nbsp;Schumacher &amp;&nbsp;Co. has maintained its success by&nbsp;continuously producing relevant style and design.
            <p>The Schumacher team realized they needed to&nbsp;innovate their offering to&nbsp;continue to&nbsp;provide a&nbsp;top quality experience for their customers. However, without expertise or&nbsp;an&nbsp;internal team, F.&nbsp;Schumacher &amp;&nbsp;Co. looked to&nbsp;L+R for guidance.
          </div>
        </div>
      </div>
    </div>
    <div class="work-schumacher__image -background">
      {{ partial "cover" (dict "context" . "src" "images/background.jpg" "density" 2) }}
    </div>
    <div class="work-schumacher__text -challenge">
      <div class="container">
        <div class="work-single__text">
          <div class="work-single__text-column">
            <h2>Challenge</h2>
          </div>
          <div class="work-single__text-column">
            <h5>How can L+R enhance each step of&nbsp;an&nbsp;age-old process?</b></h5>
            <p>Build a&nbsp;tool for interior decorators; a&nbsp;utility that would be&nbsp;used throughout the professional&rsquo;s process- from their first site visit with clients to&nbsp;the final installation.</p>
            <p>During one of&nbsp;L+R&rsquo;s Applied Imagination Sessions&trade; with Schumacher&rsquo;s key stakeholders, we&nbsp;uncovered that there were more opportunities than just the problem we&nbsp;set out to&nbsp;solve...</p>
          </div>
        </div>
      </div>
    </div>
    <div class="work-schumacher__text -breakthrough">
      <div class="container">
        <div class="work-single__text">
          <div class="work-single__text-column">
            <h2>Breakthrough</h2>
          </div>
          <div class="work-single__text-column">
            <h5>Power in&nbsp;numbers. Simplicity in&nbsp;design.</b></h5>
            <p>It&nbsp;became clear that it&nbsp;wasn&rsquo;t just the brand that could benefit from the product we&nbsp;had set out to&nbsp;design. Sales flow could also be&nbsp;greatly optimized by&nbsp;leveraging a&nbsp;digital platform. The platform itself housed a&nbsp;core utility for the business: sorting through tens of&nbsp;thousands of&nbsp;SKUs.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="work-schumacher__text -solution">
      <div class="container">
        <div class="work-single__text">
          <div class="work-single__text-column"></div>
          <div class="work-single__text-column">
            <h3>With this new discovery, we&nbsp;honed in&nbsp;on&nbsp;a&nbsp;solution.</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="work-schumacher__image -solution">
      {{ partial "cover" (dict "context" . "src" "images/solution.jpg" "density" 2) }}
    </div>
    <div class="work-schumacher__text -experience">
      <div class="container">
        <div class="work-single__text">
          <div class="work-single__text-column">
            <h2>Work</h2>
            <h4>Customer <br class="hidden-b-t">Experience</h4>
          </div>
          <div class="work-single__text-column">
            <p>A&nbsp;mobile application and a&nbsp;tablet application for their showrooms with a&nbsp;comprehensive visual search utility and strong identity.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="work-schumacher__image -experience">
      {{ partial "img" (dict "context" . "src" "images/experience.jpg" "density" 2) }}
    </div>
    <div class="work-schumacher__text -filters">
      <div class="container">
        <div class="work-single__text">
          <div class="work-single__text-column"></div>
          <div class="work-single__text-column">
            <h3>Finely-tuned filters that are unique to&nbsp;Schumacher&rsquo;s prestigious styles.</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="work-schumacher__image -filters">
      {{ partial "img" (dict "context" . "src" "images/filters.jpg" "density" 2) }}
    </div>
    <div class="work-schumacher__text -search">
      <div class="container">
        <div class="work-single__text">
          <div class="work-single__text-column">
            <h4>Comprehensive <br class="hidden-b-t">Product Search</h4>
          </div>
          <div class="work-single__text-column">
            <h5>An&nbsp;authentic Schumacher experience from inspiration to&nbsp;checkout.</h5>
            <p>The expansive offerings of&nbsp;Schumacher&rsquo;s iconic fabrics integrated into a&nbsp;digital platform saves sales representatives, interior designers, and industry professionals from lugging around binders of&nbsp;swatches.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="work-schumacher__image -search">
      {{ partial "img" (dict "context" . "src" "images/search.jpg" "density" 2) }}
    </div>
    <div class="work-schumacher__text -showcase">
      <div class="container">
        <div class="work-single__text">
          <div class="work-single__text-column">
            <h4>Showroom to&nbsp;digital showcase</h4>
          </div>
          <div class="work-single__text-column">
            <p>The applications enhance the showroom experience by&nbsp;putting their entire offering accessible on&nbsp;the floor within a&nbsp;few taps. Reducing the amount of&nbsp;square footage needed to&nbsp;display everything they make.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="work-schumacher__image -showcase">
      {{ partial "img" (dict "context" . "src" "images/showcase.jpg" "density" 2) }}
    </div>
    <div class="work-schumacher__text -strategy">
      <div class="container">
        <div class="work-single__text">
          <div class="work-single__text-column">
            <div class="work-single__text-corner -top-left">
              <img src="images/strategy-top-left.svg" alt="">
            </div>
            <h2>
              Data Strategy
              <div class="work-single__text-triangle"></div>
            </h2>
          </div>
          <div class="work-single__text-column">
            <div class="work-single__text-corner -top-right">
              <img src="images/strategy-top-right.svg" alt="">
            </div>
            <div class="work-single__text-triangle"></div>
            <p>Our analytics platform continues to&nbsp;build insights and allow for analysis of&nbsp;how users are behaving within the app to&nbsp;optimize for usability and business goals.</p>
          </div>
          <div class="work-single__text-corner -bottom">
            <img src="images/strategy-bottom.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="work-schumacher__quote -strategy">
      <div class="container">
        <img src="images/strategy-quote.svg" alt="">
        <div class="work-single__quote">
          <div class="work-single__quote-text">
            “Our clients not only love using&nbsp;it, but for many it&nbsp;has become an&nbsp;essential tool.”
          </div>
          <div class="work-single__quote-cite">
            <b>Aaron Buckland</b><br>
            Senior Product Manager<br>
            at F. Schumacher &amp; Co.
          </div>
        </div>
      </div>
    </div>
    <div class="work-single__outcomes">
      <div class="container">
        <div class="work-single__outcomes-headline">
          <h2>Outcomes</h2>
        </div>
        <div class="work-single__outcomes-content">
          <div class="work-single__outcomes-block">
            <div class="work-single__outcomes-block-title">4000+ Product Searches</div>
            <div class="work-single__outcomes-block-value">In-app per month</div>
          </div>
          <div class="work-single__outcomes-block">
            <div class="work-single__outcomes-block-title">2016 Gold Award</div>
            <div class="work-single__outcomes-block-value">GDUSA</div>
          </div>
          <div class="work-single__outcomes-block">
            <div class="work-single__outcomes-block-title">
              54+
              {{ partial "svg" (dict "glyph" "star") }}
              {{ partial "svg" (dict "glyph" "star") }}
              {{ partial "svg" (dict "glyph" "star") }}
              {{ partial "svg" (dict "glyph" "star") }}
              {{ partial "svg" (dict "glyph" "star") }}
            </div>
            <div class="work-single__outcomes-block-value">Apple App Store</div>
          </div>
          <div class="work-single__outcomes-block">
            <div class="work-single__outcomes-block-title">Special feature</div>
            <div class="work-single__outcomes-block-value">
              <a href="https://www.luxurydaily.com/schumacher-eases-design-process-with-trade-first-mobile-touchpoint/" target="_blank" rel="noopener noreferrer" data-with-arrow>Luxury Daily</a>
            </div>
          </div>
          <div class="work-single__outcomes-block">
            <div class="work-single__outcomes-block-title">Worldwide showrooms</div>
            <div class="work-single__outcomes-block-value">App deployment</div>
          </div>
          <div class="work-single__outcomes-block">
            <div class="work-single__outcomes-block-title">310% Increase</div>
            <div class="work-single__outcomes-block-value">Mobile orders</div>
          </div>
        </div>
      </div>
    </div>
    <div class="work-single__afterwords">
      <div class="container">
        <div class="work-single__afterwords-block">
          <div class="afterword">
            <div class="afterword__icon">
              {{ partial "img" (dict "context" . "src" "images/app-icon.png" "density" 3 "alt" "Schumacher App") }}
            </div>
            <div class="afterword__subheading">Download&nbsp;app</div>
            <div class="afterword__links">
              <a href="" data-with-arrow>iOS</a>
            </div>
          </div>
        </div>
        <div class="work-single__afterwords-block">
          <div class="afterword">
            <div class="afterword__heading">Looking&nbsp;for a&nbsp;solution&nbsp;like&nbsp;this?</div>
            <div class="afterword__subheading">
              <a href="">Contact us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
