{{ define "main" }}
  <div class="case case-schumacher">
    <div class="case__header">
      <div class="container">
        <div class="case__header-main">
          {{ partial "subhead" (dict "title" "Case File" "value" "Declassified") }}
          <h1>A two hundred year old textile manufacturer digitizes their customer experience</h1>
        </div>
        <div class="case__header-aside">
          <div class="case__header-aside-block">
            {{ partial "subhead" (dict "title" "Client") }}
            {{ partial "img" (dict "context" $.Page "src" "images/logo.png" "density" 3 "alt" "Schumacher") }}
          </div>
        </div>
        <div class="case__header-aside">
        </div>
      </div>
    </div>
  </div>
<hr>
<hr>
<ul>
{{ range .Resources }}
{{ partial "img" (dict "context" $.Page "src" .Name "density" 3 "alt" "Schumacher") }}
{{ end }}
</ul>
{{ end }}
