{{ define "main" }}
  <div class="landing">
    <div class="landing__canvas" id="canvas">
      <canvas id="canvas-1" resize hidpi="on"></canvas>
    </div>
    <div class="landing__rasters" id="rasters">
      <img id="logoBlk" src="/img/landing/LR_Black.png">
      <img id="logoWht" src="/img/landing/LR_White.png">
      <img id="sloganBlk" src="/img/landing/slogan_Blk.svg">
      <img id="sloganWht" src="/img/landing/slogan_Wht.svg">
      <img id="errorLargeBlk" src="/img/landing/errorLargeBlk.svg">
      <img id="errorLargeWht" src="/img/landing/errorLargeWht.svg">
      <img id="errorMiddleBlk" src="/img/landing/errorMiddleBlk.svg">
      <img id="errorMiddleWht" src="/img/landing/errorMiddleWht.svg">
      <img id="errorSmallBlk" src="/img/landing/errorSmallBlk.svg">
      <img id="errorSmallWht" src="/img/landing/errorSmallWht.svg">
      <img id="strategyAestheticsBlk" width="100%" src="/img/landing/rainbow.svg">
      <img id="strategyAestheticsWht" width="100%" src="/img/landing/white.svg">
    </div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/libs/paper-full.min.js"></script>
    <script type="text/paperscript" src="/js/pages/landing.js" canvas="canvas-1"></script>
  </div>
{{ end }}
