.news
  padding-top 133px
  &__search
    &-handler
      button
        display inline-block
        vertical-align top
        height 35px
        border-radius 17.5px
        box-shadow 3px 5px 14px rgba(#000, 0.06) 
        border none
        color rgba(#000, 0.4) 
        text-transform uppercase
        letter-spacing 2px
        font-size 12px
        font-weight 600 
