$ns = ".news-single"

.page-news-single
  .header
    transform none !important
    position relative
    background none

{$ns}
  &__main
    position relative
    padding-left 50%
    &-cover
      position absolute
      left 0
      bottom 0
      width 50%
      height 100vh
      .cover
        position absolute
        top 0
        left 0
        right 0
        bottom 0 
      &.-fixed
        position fixed
    &-article
      padding 135px 14% 0 13.4%
      border-bottom 1px solid rgba(#bfbfbf, 0.25)
      &-heading
        padding-bottom 109px
        .subhead
          margin-bottom 8px
        h1
          font-weight normal
          font-family $Ogg
          font-size 44px
          line-height 60px 
          padding 0
          margin 0 0 4px
        .news-info
          color #a4a4a4 
          font-size 17px
      &-body
        font-size 16px
        line-height 29px
        letter-spacing -0.1px
        padding-bottom 141px
        h2
          padding 0
          margin 34px 0
          font-weight 600 
          font-size 17px
          line-height 29px 
        p,
        > div
          margin 29px 0 
        img
          display block
          max-width 125%
          margin 42px 0 30px
          position relative
          left 50%
          transform translateX(-50%)
        hr
          display block
          padding 0
          margin 52px 0
          border none
          width 100% 
          height 1px
          background-color rgba(#bfbfbf, 0.25)  
        blockquote
          overflow hidden
          padding 0
          margin 145px 0 143px
          padding 52px 0 
          border-style solid
          border-color rgba(#bfbfbf, 0.25) 
          border-width 1px 0
          color #000
          letter-spacing 0
          + blockquote
            margin-top 0
            padding-top 0
            border-top-width 0
          &:last-child
            margin-bottom 0
            padding-bottom 0
            border-bottom-width 0
          p + p
            margin-top 39px
          p:not(:last-child),
          p:only-child
            font-family $GTAmericaMono
            font-style italic
            font-size 18px
            line-height 34px
          p:last-child:not(:only-child)
            float right
            position relative
            white-space pre
            font-size 17px
            line-height 26px
            min-width 219px
            a
              addArrow()
            b,
            strong
              font-weight 600
            &:before
              content "" 
              display block
              position absolute
              top 0
              right 100% 
              margin 18px 13px 0 0
              width 31px
              height 1px
              background-color #000
        > :first-child
          margin-top 0 !important
        > :last-child
          margin-bottom 0 !important
      .afterword
        border-top 1px solid rgba(#bfbfbf, 0.25)
        padding 145px 0 
  &__related
    padding 114px 0 140px
    .news-list
      padding-top 57px
  &__nav
    border-top 1px solid rgba(#bfbfbf, 0.25)
    display flex
    text-align center
    &-block
      width 50%
      box-sizing border-box
      padding 20px
      & + &
        border-left 1px solid rgba(#bfbfbf, 0.25)
      &-link
        display block
        position relative
        height 460px
        &-arrow
          display block
          position absolute
          top 50%
          left 50%
          transform translate(-50%, -50%)
          transition-property opacity, visibility
          transition-duration $speed  
          font-size 34px
          line-height 40px
          color #000
          padding-bottom 18px
        &-preview
          display flex
          justify-content center
          align-items center
          height 100%
          opacity 0
          visibility hidden
          transition-property opacity, visibility
          transition-duration $speed
          position relative
          &:after
            content "" 
            display block
            position absolute
            z-index 2
            top 0
            left 0
            width 100% 
            height 100% 
            background-color rgba(#000, 0.9)
          .cover
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            z-index 1
          &-title
            display block
            position relative
            z-index 3
            color #fff 
            font-size 25.5px
            line-height 39px
            text-decoration underline
            margin 20px
        &:hover &
          &-arrow
            opacity 0
            visibility hidden
          &-preview
            opacity 1
            visibility visible
  &__share
    position fixed
    z-index 10
    top 278px
    right 0
    width 58px
    background-color #fff
    box-shadow 3px 8px 14px rgba(#000, 0.06) 
    text-align center
    font-size 0
    line-height 0
    padding-bottom 8px
    &-title
      text-transform uppercase
      font-weight 600 
      font-size 9px
      line-height 10px
      letter-spacing 1px
      margin 29px 0 11px
    a
      display block
      text-align center
      font-size 0
      line-height 0
      color currentColor 
      .ico
        margin 18px 0 
        &.-social
          &-facebook,
          &-linkedin
            width 18px
            height 18px
          &-twitter
            width 16px
            height 16px
