$ns = ".work-schumacher"

{$ns}
  &__image
    img
      display block
      position relative
      left 50%
      transform translateX(-50%)
    &.-intro
      .cover
        +a($hd)
          height 1100px 
        +btw($d, $hd)
          height 800px
        +btw($t, $d)
          height 680px
        +btw($m, $t)
          height 500px
        +b($m)
          height 560px
    &.-background
      .cover
        +a($t)
          height 1017px
        +btw($m, $t)
          height 814px
        +btw(480px, $m)
          height 553px
        +b(480px)
          height 404px
    &.-solution
      .cover
        background-position top center 
        +a($hd)
          height 1500px 
        +btw($d, $hd)
          height 942px
        +btw($t, $d)
          height 670px
        +btw($m, $t)
          height 670px
        +b($m)
          height 560px
    &.-experience
      img
        +a($d)
          width 82% 
          margin-left -5px
        +btw($sd, $d)
          width 92.5% 
        +btw($t, $sd)
          width 91.7%
          margin-left -5px
        +btw($m, $t)
          width 98%
        +b($m)
          height 670px
          margin-left -177px
        +b(374px)
          margin-left -180px 
    &.-filters
      img
        +a($d)
          width 88% 
        +btw($sd, $d)
          width 92.5% 
        +btw($t, $sd)
          width 100.3% 
        +btw($m, $t)
          width 98%
        +b($m)
          height 780px
    &.-search
      img
        +a($d)
          width 81% 
          margin-left 26px
        +btw($sd, $d)
          width 134% 
        +btw($t, $sd)
          width 108.4% 
          margin-left 23px
        +btw($m, $t)
          width 145%
        +b($m)
          height 740px
          margin-left 40px
    &.-showcase
      img
        +a($d)
          height 800px
        +btw($t, $d)
          height 639px
          transform translateX(-54.55%)
        +b($t)
          width 100%
  &__text
    &.-assignment
      +a($sd)
        margin 268px 0 272px
      +b($sd)
        margin 306px 0 236px 
    &.-background
      +a($sd)
        margin 267px 0 143px
      +b($sd)
        margin 267px 0 146px
    &.-challenge
      +a($sd)
        margin 267px 0 259px
      +b($sd)
        margin 267px 0 265px 
    &.-breakthrough
      +a($sd)
        margin 259px 0 242px
      +b($sd)
        margin 265px 0 253px
    &.-solution
      +a($sd)
        margin 242px 0 145px 
      +b($sd)
        margin 242px 0 148px
    &.-experience
      +a($sd)
        margin 266px 0 261px 
      +b($sd)
        margin 267px 0 216px
    &.-filters
      +a($sd)
        margin 248px 0 253px
      +b($sd)
        margin 211px 0 239px 
    &.-search
      +a($sd)
        margin 376px 0 159px
      +b($sd)
        margin 430px 0 158px 
    &.-showcase
      +a($sd)
        margin 280px 0 142px
      +b($sd)
        margin 282px 0 143px 
    &.-strategy
      +b($d)
        position relative
      +a($sd)
        padding 390px 0 401px
      +b($sd)
        padding 390px 0 355px 
      .container
        +a($d)
          position relative
      .work-single__text-triangle
        border-top-color #fff7b1 
  &__quote
    .container
      min-height 568px
      padding 30px 0 
      box-sizing border-box
      background-color #fff7b1
      color #000
      position relative
      display flex
      align-items center
      +b($sd)
        width 94.043% 
    .cover
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 1
    .work-single__quote
      position relative
      z-index 2
    &.-assignment
      .cover
        +b($sd)
          background-position 75.5% 50% 
      .work-single__quote
        +a($sd)
          padding-left 8.3%
          width 48%
        +b($sd)
          padding 0 0 26px 6.5%
          width 50%
        &-text
          +a($sd)
            padding-bottom 74px
          +b($sd)
            padding-bottom 71px
        &-cite
          margin 0 0 6px 53px
    &.-strategy
      img
        display block
        position absolute
        top 50%
        transform translateY(-50%)
        +a($d)
          left 4.7%
          max-width 39.9842%
        +b($d)
          left 50%
          transform translate(-50%, -50%)
          margin-left -24.5% 
          max-width 46%
      .work-single__quote
        padding-left 50.5%
        width 43%
        &-text
          padding-bottom 74px
        &-cite
          margin 0 0 22px 53px
