$ns = ".work-gc"

@keyframes work-gc-pulse
  0%
    transform scale(0.8)
    opacity 0.8
  80%
    opacity 0.5
  100%
    transform scale(2.2)
    opacity 0

{$ns}
  &__image
    img
      display block
      position relative
      left 50%
      transform translateX(-50%)
    &.-intro
      .cover
        +a($hd)
          height 1100px 
        +btw($d, $hd)
          height 800px
        +btw($t, $d)
          height 680px
        +btw($m, $t)
          height 500px
        +b($m)
          height 560px
    &.-breakthrough
      img
        +a($t)
          width 100%
        +b($t)
          height 550px
      .container
        overflow hidden
        +b($m)
          width 94.5% 
    &.-newsfeed
      img
        +a($m)
          height 577px
        +b($m)
          width 132% 
          height auto
    &.-during
      img
        +a($m)
          height 450px
        +b($m)
          width 116%
    &.-process
      background-image linear-gradient(to bottom, #fafafa 0%, #ffffff 86%, #ffffff 100%)
      +a($t)
        padding 228px 0 131px
      +b($t)
        padding 71px 0 56px
      .container
        +a($sd)
          padding-left 7.35%
      h2
        +a($t)
          margin-bottom 101px
        +b($t)
          margin-bottom 81px 
      img
        +a($m)
          height 603px
          margin-left -20px
        +b($m)
          height 342px
    &.-keyboard
      .container
        +a($sd)
          padding 0 7.35%
        +a($t)
          display flex
      figure
        display block
        +a($t)
          width 50%
          box-sizing border-box
          padding-right 25px
        +b($t)
          &:last-child
            display none
      img
        +a($sd)
          max-width 100%
        +btw($t, $sd)
          max-width 80%
        +a($t)
          left auto
          transform none 
        +b($t)
          max-width 100% 
    &.-ibeacon
      img
        +a($m)
          height 733px
          margin-left 21px
        +btw($m, $t)
          transform translateX(-40%)
        +b($m)
          min-width 125%
          min-height 669px
          left -94px
          transform none
  &__text
    &.-assignment
      +a($sd)
        margin 268px 0 272px
      +btw($t, $sd)
        margin 306px 0 236px 
      +btw($m, $t)
        margin 106px 0 123px 
      +b($m)
        margin 104px 0 117px
    &.-background
      +a($sd)
        margin 267px 0 141px
      +btw($t, $sd)
        margin 267px 0 146px
      +btw($m, $t)
        margin 106px 0 123px 
      +b($m)
        margin 107px 0 115px
    &.-challenge
      +a($sd)
        margin 262px 0 260px
      +btw($t, $sd)
        margin 267px 0 265px 
      +btw($m, $t)
        margin 106px 0 105px 
      +b($m)
        margin 103px 0 99px 
    &.-breakthrough
      +a($sd)
        margin 260px 0 125px
      +btw($t, $sd)
        margin 265px 0 253px
      +btw($m, $t)
        margin 105px 0 118px 
      +b($m)
        margin 99px 0 105px
    &.-analytics
      +b($d)
        position relative
      +a($sd)
        padding 390px 0 401px
      +btw($t, $sd)
        padding 390px 0 355px 
      +btw($m, $t)
        padding 296px 0 329px 
      +b($m)
        padding 193px 0 222px 
      .container
        +a($d)
          position relative
      .work-single__text-triangle
        border-top-color #ffe4e4 
    &.-keyboard
      +a($t)
        margin 141px 0 125px
      +b($t)
        margin 66px 0 44px
    &.-ibeacon
      +a($t)
        margin 328px 0 32px
      +btw($m, $t)
        margin 140px 0 32px 
      +b($m)
        margin 140px 0 -2px
      a
        display inline-block
        font-size 17px
        color $pink 
        +a($t)
          margin-top 13px
        +b($t)
          margin-top 15px
  &__quote
    .container
      padding 30px 0 
      box-sizing border-box
      color #fff
      position relative
      display flex
      align-items center
      +btw($t, $sd)
        width 94.043% 
      +b($t)
        width 92.2% 
      +a($m)
        min-height 568px
      +b($m)
        min-height 410px
    .cover
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 1
    .work-single__quote
      position relative
      z-index 2
      margin auto
      &-text
        text-align center
    &.-assignment
      .work-single__quote
        +a($t)
          width 67%
        +btw($m, $t)
          width 75%
        +b($m)
          width 80%
        &-text
          +a($sd)
            padding-bottom 70px
          +btw($m, $sd)
            padding-bottom 71px
          +b($m)
            padding-bottom 56px
        &-cite
          margin 0 0 12px 50.8%
    &.-ibeacon
      +a($t)
        margin-top 206px
      +btw($m, $t)
        margin-top 100px
      .work-single__quote
        +a($t)
          width 75%
        +b($t)
          width 95%
        &-text
          +a($sd)
            padding-bottom 40px
          +btw($m, $sd)
            padding-bottom 71px
          +b($m)
            padding-bottom 51px
        &-cite
          margin 0 0 6px 50.8%
  &__background
    +b($m)
      margin -2px 0
    img
      display block
      +a($m)
        width 100% 
      +b($m)
        height 100% 
    .container
      +a($sd)
        padding-left 7%
      +b($m)
        width 100% 
    &-image
      flex 0 0 auto
      +a($m)
        padding 5px 6px
      +b($m)
        border 2px solid #fff
        overflow hidden
      &.-top-left
        +a($m)
          width 35.47% 
        +b($m)
          height 251px
      &.-top-right
        +a($m)
          width 53.805%
        +b($m)
          height 273px
      &.-bottom-left
        +a($m)
          width 17.31%
        +b($m)
          display none
      &.-bottom-center
        +a($m)
          width 53.7%
        +b($m)
          height 273px
          img
            position relative
            left -50px
      &.-bottom-right
        +a($m)
          width 26.4781%
        +b($m)
          height 251px
    &-top,
    &-bottom
      +b($m)
        flex-direction row-reverse
        justify-content center
    &-top
      display flex
      align-items flex-end
    &-bottom
      display flex
  &__takeaction
    +a($t)
      margin 248px 0 267px
    +b($t)
      margin 101px 0 133px
    .container
      +a($sd)
        padding-left 7.35%
      +a($t)
        display flex
    &-text
      padding-top 9px
      +a($t)
        margin-right 9.2%
        width 36.5%
        flex 0 0 auto
      +b($m)
        margin-bottom 51px
      h4
        img
          +a($m)
            margin 0 3px 0 4px
          +b($m)
            width 18px
            margin 2px -1px 0px 2px 
      > p
        +a($m)
          margin 31px 7px 58px
        +b($m)
          margin 29px 2px 36px 
      dl
        padding 0
        margin 0 0 0 2px
        +btw($sm, $t)
          display flex
          flex-wrap wrap
        dt
          width 100% 
          font-weight 600 
          padding 0
          +a($m)
            font-size 22px
            line-height 46px
            margin 0 0 3px
          +b($m)
            font-size 17px
            line-height 40px
            margin 0 0 5px
        dd
          padding 0
          +btw($sm, $t)
            width 50%
          +a($m)
            margin 0 0 7px
          +b($m)
            margin 0 0 11px
          figure,
          p
            display inline-block
            vertical-align middle
          figure
            width 21px
            font-size 0
            line-height 0
            text-align center
            margin 4px 16px 0 0
            img
              display inline-block
              +b($m)
                transform scale(0.9)
    &-image
      +a($t)
        flex 1 1 auto
      +a($m)
        text-align center
      img
        +a($m)
          display inline-block
          vertical-align top
          max-width 100%
        +b($m)
          width 120%
          margin-left -9px
  &__newsfeed
    +a($t)
      margin 267px 0 -11px
    +b($t)
      margin 90px 0 35px
    .container
      +a($sd)
        padding-left 7.35%
    &-text
      position relative
      z-index 2
      h4
        img
          +a($m)
            width 35px
            margin 0 8px 0 -1px 
          +b($m)
            margin 0 1px 
      p
        max-width 415px
        margin-top 30px
  &__rewards
    +a($t)
      margin 349px 0 223px
    +b($t)
      margin 129px 0 181px 
    .container
      +a($sd)
        padding 0 7.35%
    &-text
      +a($m)
        margin-bottom 33px
      +b($m)
        margin-bottom 77px
      h4
        img
          &:first-child
            +a($m)
              margin 0 10px 2px 3px
            +b($m)
              width 20px
              margin-left 2px
          &:last-child
            +a($m)
              display inline-block
              vertical-align middle
              margin-top 2px
            +b($m)
              display none
      p
        max-width 500px
        margin 31px 0 0 3px
    &-covers
      white-space nowrap
      position relative
      font-size 0
      line-height 0
      +a($m)
        margin-left -5px
        padding-top (458 / 1061 * 100)%
      +b($m)
        height 482px
      &-item
        display block
        position absolute
        +b($m)
          top 0
          left 50%
        img
          display block
          position relative
          z-index 2
          width 100% 
          border-radius 50%
          box-shadow 3px 6px 20px rgba(#000, 0.15) 
        i
          display block
          position absolute
          z-index 1
          top 50%
          left 50%
          width 70%
          height 70%
          margin -35%
          background url("/work/global-citizen/images/rewards-circle.png") no-repeat 50% 50%
          background-size contain
          border-radius 50%
          animation work-gc-pulse 2s infinite linear
          &:last-child
            animation-delay 1s 
        &:nth-child(1)
          +a($m)
            top (206 / 458 * 100)%
            left (32 / 1054 * 100)%
            width (91 / 1054 * 100)%
          +b($m)
            width 82px
            margin 384px 0 0 -177px
        &:nth-child(2)
          +a($m)
            top (214 / 458 * 100)%
            left (151 / 1054 * 100)%
            width (156 / 1054 * 100)%
          +b($m)
            width 140px
            margin 342px 0 0 -75px
        &:nth-child(3)
          +a($m)
            top (112 / 458 * 100)%
            left (283 / 1054 * 100)%
            width (125 / 1054 * 100)%
          +b($m)
            width 113px
            margin 74px 0 0 -264px
        &:nth-child(4)
          +a($m)
            top (244 / 458 * 100)%
            left (332 / 1054 * 100)%
            width (187 / 1054 * 100)%
          +b($m)
            width 168px
            margin 194px 0 0 -221px
        &:nth-child(5)
          +a($m)
            top (28 / 458 * 100)%
            left (436 / 1054 * 100)%
            width (221 / 1054 * 100)%
          +b($m)
            width 200px
            margin-left -129px
        &:nth-child(6)
          +a($m)
            top (265 / 458 * 100)%
            left (550 / 1054 * 100)%
            width (116 / 1054 * 100)%
          +b($m)
            width 105px
            margin 212px 0 0 -26px
        &:nth-child(7)
          +a($m)
            top (126 / 458 * 100)%
            left (669 / 1054 * 100)%
            width (202 / 1054 * 100)%
          +b($m)
            width 182px
            margin 88px 0 0 81px
        &:nth-child(8)
          +a($m)
            top (206 / 458 * 100)%
            left (901 / 1054 * 100)%
            width (116 / 1054 * 100)%
          +b($m)
            width 105px
            margin 296px 0 0 78px 
          i
            width 100%
            height 100%
            margin -50%
  &__pre
    +a($m)
      background-image linear-gradient(to bottom, #fafafa 0%, #ffffff 86%, #ffffff 100%)
      padding-top 238px 
    .container
      +a($sd)
        padding-left 7.35%
      +a($t)
        display flex
    &-text
      +a($t)
        width 45.2%
        flex 0 0 auto
      +b($t)
        margin-bottom 32px
      p
        margin-top 31px
        +a($t)
          margin-bottom 38px
        +b($t)
          margin-bottom 33px
      img
        +a($t)
          max-width 100% 
        +b($t)
          display block
          margin auto
          width 84.5%
          max-width 402px
    &-image
      +a($sd)
        text-align center
      +btw($t, $sd)
        text-align right
      +a($t)
        flex 1 1 auto
        margin-top 11px
      +b($t)
        text-align center
      img
        display inline-block
        vertical-align top
        +a($sd)
          max-width 100%
        +btw($t, $sd)
          max-width 80%
        +b($t)
          max-width 95.5% 
          margin-left -8px
  &__during
    +a($t)
      margin 210px 0 73px
    +b($t)
      margin 85px 0 67px 
    .container
      +a($sd)
        padding-left 7.35%
    p
      max-width 520px
      +a($t)
        margin-top 31px
      +b($m)
        margin-top 36px
  &__festivals
    +a($t)
      margin 358px 0 257px
    +b($t)
      margin 175px 0 73px
    .container
      +a($t)
        display flex
    &-block
      display flex
      justify-content space-between
      box-sizing border-box
      +a($t)
        width 50%
      &:first-child
        +a($t)
          padding-right 5px
      &:last-child
        +a($t)
          padding 15.9% 0 0 5px
        +b($t)
          padding-top 16px
      &-item
        width 32%
        img
          display block
          width 100%
        figcaption
          display block
          text-align center
          font-weight 500
          color #a4a4a4 
          padding-top 0.33em
          white-space nowrap
          +a($d)
            font-size 15px
          +btw($t, $d)
            font-size 14px
          +btw($m, $t)
            font-size 16px
          +btw($sm, $m)
            font-size 13px
          +a($sm)
            line-height 2.4em
          +b($sm)
            font-size 11px
            line-height 20px
  &__moments
    +a($t)
      margin-bottom 260px 
    +b($t)
      margin-bottom 98px 
    .container
      +a($t)
        display flex
        justify-content space-between
        flex-wrap wrap
        padding 0 7.35% 
    figure
      display block
      font-size 0
      line-height 0
      +b($t)
        margin-bottom 20px
      &:nth-child(1)
        +a($t)
          width (523 / 1056 * 100)%
        img
          +b($t)
            width 74%
      &:nth-child(2)
        +a($t)
          margin-top 230px
          width (307 / 1056 * 100)%
        +b($t)
          text-align right
        img
          +b($t)
            width 50.2%
      &:nth-child(3)
        +a($t)
          width 100% 
          text-align center
          margin-top 150px
        img
          +b($t)
            width 100% 
      &:nth-child(5)
        +a($t)
          margin-top 387px
          width (308 / 1056 * 100)%
        +b($t)
          text-align right
        img
          +b($t)
            width 58.2%
      &:nth-child(6)
        +a($t)
          margin-top -154px
          width 69.8%
          text-align center
        img
          +a($t)
            width (308 / 737 * 100)%
          +b($t)
            width 57%
      &:nth-child(7)
        +a($t)
          width 100% 
          text-align center
          margin-top 226px
        img
          +b($t)
            width 100% 
    img
      max-width 100%  
    p
      max-width 410px
      +a($t)
        margin-top 236px
      +b($t)
        margin 70px 0 76px 
