$ns = ".work-single"

{$ns}
  padding-top 184px
  h1
    font-weight 600
    color $black
    padding 0
    margin 0
    +a($d)
      font-size 60px
      line-height 1.09em
      letter-spacing 0.47px
    +btw($t, $d)
      font-size 45px
      line-height 51px
      letter-spacing 0.35px
    +btw($m, $t)
      font-size 38px
      line-height 51px
      letter-spacing 0.3px
    +b($m)
      font-size 30px
      line-height 40px
      letter-spacing 0.27px
  h2
    font-family $Ogg
    font-weight normal
    color $black
    padding 0
    margin 0
    +a($t)
      font-size 40px
      line-height 1.3em
    +btw($m, $t)
      font-size 34px
      line-height 52px
    +b($m)
      font-size 28px
      line-height 31px
    + h4
      +a($m)
        padding-top 6px
      +b($m)
        padding-top 2px
  h3
    font-weight 500
    color $black
    padding 0
    margin 0
    +a($d)
      font-size 40px
      line-height 1.3em
    +btw($t, $d)
      font-size 32px
      line-height 42px
    +btw($m, $t)
      font-size 28px
      line-height 38px
    +b($m)
      font-size 24px
      line-height 31px
  h4
    font-weight 300
    color $lightgray
    padding 0
    margin 0
    +a($t)
      font-size 40px
      line-height 1.3em
    +btw($m, $t)
      font-size 34px
      line-height 41px
    +b($m)
      font-size 28px
      line-height 32px
    img
      display inline-block
      vertical-align middle
      margin 0 13px 0 4px 
  h5
    font-weight 600
    color $black
    padding 0
    +a($m)
      font-size 22px
      line-height 1.636364em
      margin 1.7em 0 
    +b($m)
      font-size 18px
      line-height 27px
      margin 27px 0
  &__header
    +a($sd)
      margin-bottom 149px
    +b($sd)
      margin-bottom 161px
    .container
      display flex
    &-main
      flex 1 1 auto
      +a($sd)
        padding-right 25px
      +b($sd)
        padding-right 50px
    &-aside
      flex 0 0 auto
      padding-left 11px
      +a($sd)
        width 202px
      +b($sd)
        width 158px 
      &:last-child
        +b($sd)
          display none
      &-block
        & + &
          margin-top 47px
        .subhead
          margin-bottom 13px
        img
          display block
          margin-top 19px 
        p
          font-size 15px
          line-height 21px
          color $gray 
          margin-bottom 28px
          a
            color currentColor
            &:after
              color $black
  &__text
    display flex
    +a($sd)
      padding 0 7.8% 
    &-column
      width 50%
      position relative
      +a($sd)
        box-sizing border-box
        padding 0 7px 
      &:nth-child(1)
        +b($sd)
          padding-right 5px
        {$ns}__text-triangle
          top 100% 
          left 50%
          transform translateX(-50%)
          +a($d)
            margin-top 184px
          +b($d)
            margin 220px 0 0 -15px
      &:nth-child(2)
        padding-top 13px
        +b($sd)
          padding-left 5px
        {$ns}__text-triangle
          bottom 100% 
          left 0
          +a($sd)
            margin 0 0 18px 6px
          +b($sd)
            margin 0 0 18px -3px
      h2
        display inline-block
        vertical-align top 
        position relative
      h5
        &:first-child
          margin-top 0 !important
      p
        letter-spacing 0.1px
        +a($m)
          margin 1.8em 0
        +b($m)
          margin 27px 0 
        b
          color $black
          font-weight 600 
        &:first-of-type
          margin-top 0 !important
        &:last-of-type
          margin-bottom 0 !important 
    &-corner
      position absolute
      img
        display block
      &.-top-left
        bottom 100% 
        left 0
        +a($sd)
          margin 0 0 112px 16px
        +b($sd)
          margin 0 0 112px 2px
      &.-top-right
        bottom 100% 
        +a($sd)
          left 50%
          transform translateX(-50%)
          margin 0 0 37px 14px 
        +b($sd)
          right -4px
          margin-bottom 37px
      &.-bottom
        +a($d)
          right 7.8%
          top 100% 
          margin 92px 18px 0 0 
        +b($d)
          left 42.3%
          bottom 150px
    &-triangle
      display block
      position absolute
      width 0
      height 0
      border-style solid
      border-width 9px 9px 0 9px
      border-color transparent
  &__quote
    &-text
      font-family $Ogg
      +a($d)
        font-size 49px
        line-height 67px 
      +b($d)
        font-size 44px
        line-height 60px
    &-cite
      font-size 17px
      line-height 26px
      b
        font-weight 600
        position relative
        &:before
          content "" 
          display block
          position absolute
          bottom 0
          right 100% 
          width 31px
          height 1px
          margin 0 20px 2px 0
          background-color currentColor
  &__outcomes
    +a($sd)
      margin 266px 0 225px
    +b($sd)
      margin 266px 0 228px
    .container
      display flex
      justify-content space-between
      +a($d)
        padding-left 105px
      +btw($sd, $d)
        padding-left 7.3%
    &-content
      display flex
      flex-wrap wrap
      padding-top 22px
      +a($sd)
        width 72.4%
      +b($sd)
        width 49.4% 
    &-block
      font-size 17px
      line-height 21px
      box-sizing border-box
      padding 0 10px 52px 0
      +a($sd)
        width 38%
        &:nth-child(3n)
          width 24%
      +b($sd)
        &:nth-child(2n-1)
          width 61.8% 
        &:nth-child(2n)
          width 38.2%
      &-title
        color $black 
        padding-bottom 3px
        white-space nowrap
        .ico
          display inline-block
          vertical-align baseline
          &.-star
            width 11px
            height 11px
            margin-right -1px
            &:first-child
              margin-left 2px
      &-value
        color $gray 
        a
          color currentColor
          &[data-with-arrow]:after
            color #000
  &__afterwords
    border-top 1px solid rgba(#bfbfbf, 0.25)
    .container
      display flex
    &-block
      display flex
      align-items center
      width 50%
      padding-bottom 34px
      box-sizing border-box
      +a($sd)
        height 500px
      +b($sd)
        height 349px
      &:first-child
        .afterword
          +btw($sd, $d)
            padding-left 17.6%
      & + &
        border-left 1px solid rgba(#bfbfbf, 0.25)
        .afterword
          +b($d)
            padding-left 23.4% 
    .afterword
      +a($d)
        padding-left 26%
      &__heading,
      &__subheading
        font-size 40px
        line-height 52px
